<style>
.container {
  position: absolute;
    margin-top: 20px;
  top: 10%;
  left: 5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
table {
    left: 10%;
    position: absolute;
  width: 900px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
th {
  text-align: left;
}
thead th {
  background-color: #55608f;
}
tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
    align-items: center;
  position: relative;
}
tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

  .tick {
    color: green;
    font-weight: bold;
  }

  .cross {
    color: red;
    font-weight: bold;
  }
  .highlight {
    background-color: yellow;
  }
  input{
      text-align: center;
      color: orange;
      font-weight: 800;
      font-size: 1rem;
      width: 45%;
      height: 7%;
      position: absolute;
      left: 24%;
      background: none;
      border:none;
      border-bottom: 4px solid orange;
      transition: 0.5s;
      border-radius: 10px;
  }
  input:hover{
      background: rgba(255,255,255,0.2);
      border-bottom: none;

  }
  input:hover::placeholder{
      opacity: 0.5;
  }
  input:focus::placeholder{
      color: transparent;
  }

  ::placeholder{
      font-size: 1rem;
      color: orange;
      font-weight: 800;
      opacity: 0.9;
      text-align: center;
  }

</style>

<label for="searchInput"></label><input type="text" id="searchInput" onkeyup="searchTable()" placeholder="Search for coordinators..." />
<div class="container">
<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>First Name</th>
      <th>Email</th>
        <th>Logged In</th>
      <th>Session Key</th>
      <th>Last Login</th>
      <th colspan="2">Actions</th>
      <!-- Add more boolean attributes as needed -->
    </tr>
  </thead>
  <tbody>
    {% for c in coords %}
    <tr>
      <td>{{ c.user.username }}</td>
      <td>{{ c.user.first_name }}</td>
      <td>{{ c.user.email }}</td>
      <td>{% if c.is_logged_in %} <span class="tick">&#10004;</span> {% else %} <span class="cross">&#10006;</span> {% endif %}</td>
      <td>{{ c.current_session_id }}</td>
    <td>{{ c.last_login }}</td>
      <!-- Add more boolean attributes as needed -->
    <td>
        <a href="{% url 'edit_coordinator_session' c.user.id %}" class="btn btn-primary">
    <img width="32" height="32" src="https://img.icons8.com/color/48/edit--v3.png" alt="edit--v3"/>
</a>
      </td>
{#    <td><a href="{% url 'delete_coordinator_super' c.user %}"><img width="32" height="32" src="https://img.icons8.com/color/48/delete-forever.png" alt="delete-forever"/></a></td>#}
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
<script>
function searchTable() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("searchInput");
    filter = input.value.toUpperCase();
    table = document.querySelector("table");
    tr = table.getElementsByTagName("tr");

    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td");
      for (var j = 0; j < td.length; j++) {
        if (td[j]) {
          // Check if the current cell contains a hyperlink
          var hasHyperlink = td[j].querySelector("a") !== null;

          if (!hasHyperlink) {
            txtValue = td[j].textContent || td[j].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              td[j].innerHTML = txtValue.replace(
                new RegExp(filter, "gi"),
                (match) => `<span class="highlight">${match}</span>`
              );
            } else {
              td[j].innerHTML = txtValue;
            }
          }
        }
      }
    }
  }
</script>