{% load static %}
<title>Edit Participant {{ p.first_name }}</title>
<style>
    body{
        background: url("{% static 'img/edit_participant.jpg' %}");
        background-size: cover;
        background-repeat: no-repeat;
        overflow: auto;
    }
    h2{
        margin: 0;
    }

      /* Style the form container */
      .form-container {
        width: 40%;
        margin: 0 auto;
        padding: 20px;
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        backdrop-filter: blur(10px);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          overflow: auto;
      }

      /* Style the form fields */
      .form-control {
        margin: 10px 0;
      }

      /* Style the form labels */
      .form-control label {
        display: block;
        font-weight: bold;
      }

      /* Style the form input fields */
      .form-control input[type="text"],
      .form-control input[type="date"],
      .form-control input[type='email'],
      .form-control select{
        width: 100%;
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        background: none;
        backdrop-filter: blur(5px);
        transition: background 0.3s;
      }

      .form-control input[type="text"]:focus,
      .form-control input[type="date"]:focus {
        background: none;
      }

      /* Style the form submit button */
      .form-control button[type="submit"] {
          left: 52%;
          position: absolute;
        padding: 10px 20px;
        background: #3498db;
        border: none;
        color: #fff;
        border-radius: 5px;
          width: 45%;
        cursor: pointer;
      }

      .form-control button[type="submit"]:hover {
        background: #2980b9;
      }
      #name{
          background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
          -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
          position: absolute;
          left: 45%;
          top: 3%;
      }
      #cancel1{
          width: 45%;
          padding: 10px 20px;
        background: #fc0217;
        border: none;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
      }
      #cancel1:hover{
          background: #9b010e;
      }
   </style>

<!-- edit_coordinator.html -->
 <body>
   <div class="form-container">
       <h2>Edit Participant</h2><h2 id="name">{{ p.first_name }}</h2>
      <form method="post" class="form-control">
         {% csrf_token %}
          {{ form.as_p }}
         <button type="submit">Submit</button>
      </form>
       <a id="cancel" href="{% url 'coordinator_dashboard' %}"><button id="cancel1">Cancel</button></a>
   </div>
</body>
</html>